body {
    padding-bottom: 10px;
}

.table-title {
    display: none;
}

.hr-border {
   width: 87%;
    margin-left: 95px;
}

.coffee-header h1{
    padding-top: unset;
    font-size: 55px;
    margin: unset;
}

.coffee p {
    color: gray;
    margin: unset;
    align-self: flex-end;
    font-size: 20px;
}

.coffee h3{
    font-size: 30px;
    align-items: end;
    margin: unset;
}

.coffee-row {
    align-items: end;
}

.coffee-card {
    padding: unset;
}

.col-wrap {
    padding: unset;
}

.h2-coffee {
    padding: unset;
    margin: unset;
}

.roast-custom {
    margin: unset;
}

.coffee-custom {
    margin: unset;
}