body {
    padding-bottom: 10px;
    background-image: url(https://media.giphy.com/media/J0nJNHnnukpJm/giphy.gif);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: news-gothic-std, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.table-title {
    display: none;
}

.hr-border {
   width: 87%;
    margin-left: 95px;
    color: white;
}

.coffee-header h1{
    padding-top: unset;
    font-size: 55px;
    margin: unset;
    color: white;

}

.coffee p {
    color: gray;
    margin: unset;
    align-self: flex-end;
    font-size: 20px;
}

.coffee h3{
    font-size: 30px;
    align-items: end;
    margin: unset;
}

.coffee-card {
    align-items: end;
    color: white;
}

.col-wrap {
    padding: unset;
}

.h2-coffee {
    padding: unset;
    margin: unset;
    color: white;
}

.roast-custom {
    margin: unset;
    color: white;
}

.coffee-custom {
    margin: unset;
    color: white;
}

.nav-item {
    color: white;
}

.fs-4 {
    color: white;
}

.coffee-icon-wrapper {
    max-width: 100px;
    max-height: 100px;
}

.header-custom{

}

.list-items{
    padding-bottom: unset;
    margin: 30px;
}