body {
    padding-bottom: 10px;
}

.table-title {
    display: none;
}

.coffee-header h1{
    padding-top: 20px;
    font-size: 70px;
}

.coffee p {
    color: gray;
    margin: unset;
    align-self: flex-end;
    font-size: 20px;
}

.coffee h3{
    font-size: 30px;
    align-items: end;
    margin: unset;
}

.coffee-row {
    align-items: end;
}

.coffee-card {
    padding: unset;
}

.col-wrap {
    padding: unset;
}

.h2-coffee {
    padding: unset;
    margin: unset;
}

.h5-roast {
    padding-top: 10px;
}